<div class="bpn-tabset"
  role="tabpanel">
  <ul
    ng-click="tabset.avoidClick($event)"
    class="nav-tabs"
    role="tablist">
    <li role="presentation"
      ng-repeat="tab in tabset.tabs"
      ng-class="{'is-active': tab.active}"
      class="tab-item">

      <a class="tab-link"
        href=""
        data-event-name="{{::tab.eventName}}"
        role="tab"
        ng-click="tabset.select($index, $event)">{{ tab.heading }}</a>
    </li>
  </ul>

  <div class="transclude-section"
    ng-transclude></div>
</div>
