@import "../../../shared/variables";

#billy-intercom {

  ul {
    padding: 0 0 0 $base*2;
    list-style-type: disc;

    li {
      margin-bottom: $base*2;
    }
  }

  h2.block-title {
    text-align: left;
    font-weight: 500;
    color: $color-billy;
    font-size: $base * 2.5;
    font-family: Roboto;
    margin-bottom: $base * 3;
  }

  .intercom-panel {
    // this is the same z-index as Intercom launcher, but with an extra 0...
    z-index: 21474830000;
  }
  .toolbar {
    background: $color-primary;
    height: $base * 7;
    min-height: $base * 7;

    h1 {
      //margin: 10px 0;
      display: block;
      text-align: left;
      font-weight: 600;
      font-size: $base * 3;
      line-height: $base * 7;
    }
    .close-icon {
      position: absolute;
      right: 0;
      color: white;
      top: 0;
      width: $base * 7;
      height: $base * 7;
      line-height: $base * 7;
      cursor: pointer;
      outline: none;
    }
  }
  .intercom-content {
    position: absolute;
    bottom: $base * 7;
    top: $base * 7;
    left: 0;
    right: 0;
    padding: $base * 2;
    height: calc(100% - 105px);

    .questions-index {
      margin-bottom: $base * 8;

      h3 {
        outline: none;
        cursor: pointer;
        font-weight: 400;
        font-size: $base * 2;
        font-family: 'Roboto';
        text-indent: -($base * 3);
        margin-left: $base * 3;
        text-align: left;
        margin-bottom: $base * 2;
        .material-icons {
          text-indent: 0;
          font-size: $base * 2;
          width: $base * 3;
          height: $base * 3;
          line-height: 1.2;
        }
      }
    }
    .questions-container {
      overflow: auto;
      height: calc(100% - 72px);

      .nothing-found {
        h2 {
          margin-top: 0;
          font-weight: 400;
          font-family: Roboto;
          margin-bottom: $base * 2;
        }
        p {
          font-size: $base * 1.75;
          margin-bottom: $base * 2;
          color: #94A9C1;
          font-family: Roboto;
        }
        .md-button {
          color: white;
          padding: 0 $base * 2;
        }
      }
      .question-block {
        margin-bottom: $base * 8;

        img {
          width: 100%;
          margin: 10px 0;
        }
      }
    }

    .search-container {
      display: block;
      padding: 0;
      margin-bottom: $base * 3;

      &.md-input-focused, &.md-input-has-value {
        label {
          padding: 0;
        }
      }
      &:not(.md-input-focused):not(.md-input-has-value) {
        label {
          padding: 0 0 $base/2;
        }
      }
      .md-errors-spacer {
        display: none;
      }
    }

    .faq-block {
      text-align: left;
      margin-bottom: $base * 3;
      h3 {
        outline: none;
        cursor: pointer;
        font-weight: 500;
        font-size: $base * 2;
        font-family: Roboto;
        text-indent: -($base * 3);
        margin-left: $base * 2;
        margin-bottom: $base * 2;
        .material-icons {
          text-indent: 0;
          font-size: $base * 2;
          width: $base * 2.5;
          height: $base * 2.5;
          line-height: $base* 2;
        }
      }
      p {
        margin: 0 0 0 $base*2;
        font-weight: 400;
        font-family: Roboto;
        font-size: $base * 1.75;
        color: $color-primary;
      }
      i {
        display: none;
      }
    }
    .intercom-open {
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      padding: $base * 2;
      background-color: white;
    }
  }
  .intercom-fab {
    position: fixed;
    bottom: $base * 2;
    right: $base * 1.5;
    width: $base * 7;
    height: $base * 7;
    line-height: $base * 7;
    background: $color-success;
  }

  .call-to-action {
    background-color: $color-success;
    padding: $base $base*2;
    color: white;
    font-size: 18px;
    margin: 0;
  }

  .faq-answer {
    margin: $base/2 0 0 $base*2;
    padding: 0;
    font-weight: 100;
    height: auto;
    //max-height: 0;
    transition: all 0.5s ease-out;
    //display: block;
    display: none;
    overflow: hidden;

    &.is-open {
      //max-height: 300px;
      display: block;
    }
  }
}

#billy-dashboard, #billy-reports, #billy-myTags, #billy-setup-creator, #billy-setup-validator, #billy-settings {
  #intercom-launcher {
    //display: none !important;
  }
  #billy-intercom {
    //display: block;
  }
}
