<div layout="row">
  <div class="arrow-buttons"
    layout="column">
    <md-button ng-disabled="vm.page < 2"
      ng-click="vm.movePage('left')">
      <md-icon>keyboard_arrow_left</md-icon>
    </md-button>
    <md-button ng-disabled="((vm.page+1) * wm.rows >= vm.total) || vm.page === vm.getTotalPages()"
      ng-click="vm.movePage('right')">
      <md-icon>keyboard_arrow_right</md-icon>
    </md-button>
  </div>
  <div class="total-copy"
    layout="column"
    layout-align="center start">
    <span>{{vm.page}} / {{vm.getTotalPages()}}</span>
  </div>

  <div ng-if="vm.rpp"
    layout="row">
    <div class="rows-selector">
      <md-select ng-model="vm.rows"
        ng-change="vm.changeRows()">
        <md-option ng-repeat="rows in vm.rppOptions"
          value="{{::rows}}">{{::rows}}
        </md-option>
      </md-select>
    </div>
    <div class="total-copy"
      layout="column"
      layout-align="center start">
      <span>{{ 'tableComponent.copyRowsPerPage' | translate }}</span>
    </div>
  </div>
</div>
