@import "../../../../shared/variables";

#marketplaceAnon {

  .featured {

    &-box {

      color: #384045;
      min-height: 100px;
      box-sizing: border-box;
      padding: 32px 16px 0 16px;
      position: relative;
      z-index: 100;
      margin-bottom: 16px;
    }

    &-wrapper {
      padding: 32px;
      background: white;
      border-radius: 3px;
      border: 1px solid rgba(#384045, 0.2);
      overflow: hidden;
      border-top: 4px solid #FAB914;
      box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
      > div {
        @media(max-width: 960px) {
          display: block;
          flex: none;
        }
      }
      .middle-section {
        padding: $base * 3 0;
        @media(min-width: 960px) {
          padding: 0 $base * 3 0 0;
        }
      }
    }

    &-title {
      font-size: 56px;
      color: #384045;
      font-weight: 700;
      margin-right: $base * 3;
      padding: 0;
      text-align: left;
      @media(max-width: 960px) {
        text-align: center;
        margin: 0;
      }
    }
  }

  .featured-bullets-title,
  .featured-bullets-footer {
    text-align: left;
    padding: 0 0 16px 0;
    margin: 0 0 0 12px;
    font-weight: 600;
    font-size: 18px;
    @media(max-width: 960px) {
      text-align: center;
    }
  }

  .featured-bullets-footer {
    margin: 10px 0 0 12px;
    padding: 0;
    @media(max-width: 960px) {
      text-align: center;
    }
  }

  .featured-bullets {
    padding: 0;
    margin: 0 0 0 32px;
    text-align: left;
    @media(max-width: 960px) {
      text-align: center;
      list-style: none;
    }

    .bullet-item {
      padding: 0;
    }
  }

  .bullet-item {

    margin-bottom: 8px;

    &:last-child {
      border: none;
    }

    .md-avatar-icon {
      display: none;
      $bullet-icon-size: 24px;
      width: $bullet-icon-size;
      height: $bullet-icon-size;
      font-size: $bullet-icon-size;
      color: $color-secondary;
    }

    .bullet-text {
      opacity: 0.7;
      font-size: 18px;
      font-style: italic;
    }
  }

  .featured-actions {

    text-align: center;

    .btn {
      box-sizing: border-box;
      margin: 0 0 12px 0;
      box-shadow: none;
      text-transform: uppercase;
      color: white;
      background-color: $color-secondary;
      width: 100%;
      display: block;
      min-width: $base * 18;
      max-width: 500px;
      border: 2px solid $color-secondary;
      margin-top: 32px;

      @media(min-width: 960px) {
        max-width: 200px;
      }

      @media(max-width: 960px) {
        margin: 0 auto;
      }

      &:hover {
        background-color: lighten($color-secondary, 10%);
        border: 2px solid lighten($color-secondary, 10%);
      }

      &.btn-subtle {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid transparent;
        color: $color-secondary;
        margin: 0;
        min-width: 0;
        font-size: 14px;
        padding: 4px 8px;
        width: auto;
        height: auto;
        text-transform: inherit;
        cursor: pointer;
        @media(max-width: 960px) {
          margin: 0 auto;
        }

        &:hover {
          border-bottom: 1px solid $color-secondary;
        }
      }
    }
  }
}
