@import "../../shared/variables";

calendar {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;

  .board .day.range-start:not(.other-month):not(.disabled),
  .day.range-end:not(.other-month):not(.disabled) {
    background: $color-primary !important;
    color: white !important;
  }
  .board .day.in-range:not(.other-month):not(.disabled) {
    background: rgba($color-primary, .1);
    color: $color-primary;
  }
}

html body ob-daterangepicker {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;

  .material-icon {
    position: relative;
    top: 2px;
    left: 0;
    transform: none;
    border: none;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  date-range-picker .calendar:first-child {
    margin-right: $base * 4;
  }

  .input-container {
    display: none;
  }

  .board, .header, .arrow-btn {
    border: none !important;
    top: 0;
  }
  .header {
    background: transparent;
    color: $color-primary;
  }
  .arrow-btn {
    color: $color-primary;
    &.left:before, &.right:before {
      @extend .material-icon;
    }
    &.left:before {
      content: 'keyboard_arrow_left';
    }
    &.right:before {
      content: 'keyboard_arrow_right';
    }
  }
  .ranges-actions {
    border-color: rgba($color-primary, .1) !important;
  }
  .day-name {
    text-transform: inherit !important;
  }
  .picker-dropdown-container {
    .picker {
      top: 40px;
      height: 248px !important;
      border-radius: 3px !important;
      border: none;
      box-shadow: 0 2px 15px rgba($color-primary, .1);
      cursor: default;
      @media #{$max-sm}{
        width: 100%;
        overflow: auto;
      }
      .ranges-actions.custom-open {
        padding: $base * 2 0;
        cursor: default;
        .range {
          margin: 0;
          padding: $base/2 $base * 2;
          border-radius: 0;
        }
        .range.selected, .range:hover {
          background: $color-primary !important;
        }
      }
    }
  }
  .drp_btn.apply {
    background: $color-primary !important;
  }
  .drp_btn.cancel {
    text-decoration: none !important;
  }
  .picker-dropdown{
    border-radius: 3px !important;
    width: auto !important;
    background: white;
    border: none !important;
    box-shadow: 0 1px 5px rgba($color-primary, .1);
    line-height: 36px !important;
    height: 36px !important;
    padding-right: 36px;
    &:after{
      @extend .material-icon;
      content: 'keyboard_arrow_down' !important;
      border: none !important;
      right: 30px !important;
      left: auto;
      top: 8px !important;
    }
  }
}
