@import "../../shared/variables";

.billy-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
  z-index: 99;

  @media #{$max-sm-h}{
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  .popup-layer {
    background: rgba(243, 244, 248, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .popup-box {
    border: solid 1px #D0DBE9;
    border-radius: 3px;
    z-index: 99;
    max-height: 400px;
    background: white;
    text-align: right;
    bottom: auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 20px 65px rgba(0, 0, 0, 0.15);
    .popup-box-header {
      border-top: 1px solid #D0DBE9;
      padding: 14px 25px;
      overflow: auto;
      background: #F6F9FB;
      color: rgba(0, 0, 0, 0.87);
      h2 {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 400;
        float: left;
      }
      .close-button {
        float: right;
        margin: 0;
        border: none;
        box-shadow: none;
        background: transparent;
        min-width: 30px;
        display: inline-block;
        .material-icons {
          color: #bac3ca;
        }
      }
    }
    .popup-box-body {
      text-align: left;
      padding: 20px;
    }
  }
}

.popup-copy {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
  &.visible {
    opacity: 1;
    pointer-events: all;
    z-index: 999;
  }
  .popup-body {
    text-align: left;
    padding: 20px;
  }
  .popup-header {
    padding: 14px 25px;
    overflow: auto;
    background: #F6F9FB;
    color: rgba(black, 0.87);
    h2 {
      margin: 5px 0;
      font-size: 20px;
      font-weight: 400;
      float: left;
    }
    button.button-close {
      float: right;
      margin: 0;
      border: none;
      box-shadow: none;
      background: transparent;
      min-width: 30px;
      display: inline-block;
      md-icon {
        color: rgb(186, 195, 202);
        &:hover {
          color: rgb(138, 145, 150);
        }
      }
    }
  }
  .layer {
    background: rgba(black, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .copyHelper {
    z-index: 99;
    max-height: 400px;
    background: white;
    border-top: 1px solid #D0DBE9;
    text-align: right;
    bottom: auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(black, 0.3);
    &.visible {
      bottom: 0;
    }
    div[hljs] {
      max-height: 220px;
      overflow: auto;
      margin-bottom: 20px;
      cursor: pointer;
      pre {
        margin: 0;
      }
    }
    #tag-code {
      text-align: left;
    }
    .button-copy {
      &:hover {
        background: #e7ebee !important;
      }
    }
  }
}
