#billy-remember, #billy-reset {
  .login-header {
    margin-bottom: 20px !important;
  }
  span.description {
    color: #A9B9CB;
    text-align: left;
    font-size: 15px;
    display: block;
    margin-bottom: 25px;
  }
  span.descriptionMail {
    text-align: left;
    display: block;
    margin-bottom: 25px;
  }

  md-input-container, md-input-container > * {
    padding-left: 0;
  }
}

