<div layout="row"
  class="resources-info">
  <div layout="row"
    flex="50"
    flex-xs="100"
    flex-sm="100"
    class="resources-total">
    <span>{{ 'shared.resources.totalFound' | translate : {vars: [vm.resources.length]} }}</span>
  </div>
  <div layout="row"
    flex="50"
    hide-xs
    hide-sm
    class="resources-add"
    layout-align="end center">
    <md-button>{{:: 'shared.resources.addResource' | translate }}</md-button>
  </div>
</div>
<md-list flex
  layout="column"
  class="resources-section">
  <md-list-item ng-repeat="resource in vm.resources"
    ng-click="vm.openResource(resource)">
    <span flex="100">{{:: resource.s }}</span>
  </md-list-item>
</md-list>