<div layout="row"
  class="resources-info">
  <div layout="row"
    flex="50"
    flex-xs="100"
    flex-sm="100"
    class="resources-total">
    <span>{{ 'shared.resources.totalFound' | translate : {vars: [vm.resources.length]} }}</span>
  </div>
  <div layout="row"
    flex="50"
    hide-xs
    hide-sm
    class="resources-add"
    ng-click="vm.atomAppender()"
    layout-align="end center">
    <md-button>{{:: 'shared.resources.addResource' | translate }}</md-button>
  </div>
</div>
<md-list flex
  layout="column"
  class="resources-section">
  <md-list-item>
    <div flex="90"
      layout="row">
      <span flex="55">{{:: 'shared.resources.server' | translate }}</span>
      <span flex="15">{{:: 'shared.resources.quality' | translate }}</span>
      <span flex="15">{{:: 'shared.resources.lang' | translate }}</span>
      <span flex="15">{{:: 'shared.resources.subs' | translate }}</span>
    </div>
    <div flex="10"
      layout="rowx"
      layout-align="center end">
      <md-icon
        ng-if="resource.open">remove_red_eye
      </md-icon>
    </div>
  </md-list-item>
  <md-list-item ng-repeat="resource in vm.resources"
    ng-click="vm.openResource(resource)">
    <div flex="90"
      layout="row">
      <span flex="55">{{:: resource.h }}</span>
      <span flex="15">{{:: resource.q }}</span>
      <span flex="15">{{:: resource.l }}</span>
      <span flex="15">{{:: resource.s }}</span>
    </div>
    <div flex="10"
      layout="rowx"
      layout-align="center end">
      <md-icon
        ng-if="resource.open">remove_red_eye
      </md-icon>
    </div>
  </md-list-item>
</md-list>