$base: 8px;
$color-primary: rgb(30, 30, 35);
$color-secondary: #4583d4;
$color-warning: #ffeb3b;
$color-danger: #ff4d57;
$color-success: #4CAF50;
$color-sidebar: #32323a;

$color-background: #eaeff5;

$max-sm: '(max-width: 600px)';
$max-md: '(max-width: 960px)';
$max-lg: '(max-width: 1280px)';

@mixin transition($transition...) {
  -moz-transition: $transition cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: $transition cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: $transition cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: $transition cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
