<form ng-submit="vm.submit()"
  name="dynamicForm"
  class="{{::vm.options.class}}">
  <div class="{{::vm.options.blockClass}}">
    <div ng-repeat="field in vm.fields"
      ng-if="!field.hide()"
      class="{{::field.blockClass}}">
      <ng-include src="::vm.checkElement(field.element)"></ng-include>
    </div>
  </div>

  <div class="btn-zone {{::vm.options.btnClass}}">
    <button type="submit"
      class="hide"
      ng-if="vm.optionsSubmit"></button>
    <md-button ng-repeat="button in vm.options.buttons"
      type="button"
      ng-if="!button.hide"
      ng-disabled="dynamicForm[button.disabled]"
      class="{{::button.class || 'btn'}}"
      ng-click="vm.buttonAction(button)">{{::button.label | translate}}
    </md-button>
  </div>
</form>
