$color-primary: rgb(56, 64, 69);
$color-secondary: rgb(46, 83, 140);

.tab-body {
  padding: 16px 16px 4px 16px;
}

.dataset-list {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.dataset-item {
  display: inline-block;
  width: 49%;
  list-style-type: none;
  text-align: left;
  margin-bottom: 12px;

  .item-key {
    font-size: 12px;
    color: rgba($color-primary,0.5);
  }

  .item-value {
    font-weight: 500;
    font-size: 16px;
    color: $color-secondary;
  }
}


