Buscar

<input ng-model="vm.searchText"></input>
<button ng-click="vm.search(vm.searchText)">{{:: 'search.search' | translate }}</button>
<br>

<div class="md-padding"
     layout="row"
     layout-wrap>
    <h1 class="md-padding"
        flex="100">{{:: 'search.results' | translate }}</h1>
    <div
            flex-xs="100"
            flex-sm="50"
            flex-md="33"
            flex-lg="20"
            flex-xl="20"
            layout="column"
            ng-repeat="result in vm.results">
        <media-card info="result"></media-card>
    </div>
</div>