<md-dialog class="episode-dialog"
  aria-label="Episode dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{:: vm.episode.name }} ({{:: 'S' + vm.episode.season_number + 'E' + vm.episode.episode_number}})</h2>
      <span flex></span>
      <md-button class="md-icon-button"
        ng-click="vm.close()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <resources mid="vm.pkgID"></resources>
  </md-dialog-content>
</md-dialog>