@import "./shared/variables";

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  background: $color-primary;
}

* {
  font-family: 'Quicksand', sans-serif;
  outline: none !important;
  color: $color-primary;
}

ui-view {
  width: 100%;
  overflow: auto;
}

.app-container {
  height: calc(100% - 56px) !important;
  min-height: calc(100% - 56px) !important;
}

.main-body {
  height: calc(100% - 56px);
  min-height: calc(100% - 56px);
  background: rgba($color-secondary, .08);
}

.animation {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

h1 {
  &.main-title {
    color: white;
    padding: 0 16px;
  }
  &.collection-title {
    color: white;
    margin: 0;
    padding: 16px 8px;
  }
}

md-backdrop.md-menu-backdrop {
  position: fixed !important;
  z-index: 99998;
}

.md-open-menu-container {
  z-index: 99999;
}

md-backdrop.md-sidenav-backdrop {
  z-index: 999;
}

#loading-bar .bar {
  background: $color-warning;
}

md-select-menu md-option {
  font-weight: 500 !important;
}