<div class="account-manager-block">
  <md-list-item ng-click="vm.openIntercom()">
    <md-icon aria-label="Dashboard Icon"
      class="md-avatar-icon material-icons">forum
    </md-icon>
    <p>{{:: 'sidebar.accountManager' | translate }}</p>
    <md-tooltip md-direction="right"
      class="sidebar-tooltip account-manager">
      <p class="title">{{:: 'accountManager.accountManager' | translate}}</p>
      <img ng-src="{{ ::vm.accm.picture || 'http://cdn.billy.mobi/assets/billysupport.png' }}">
      <p class="name">{{ ::vm.accm.fullName || vm.default.fullName }}</p>
    </md-tooltip>
  </md-list-item>
</div>
