$grey: #dde1e5;
$button_bg: #F9FAFB;
$button_border: #DFE0E2;

.sidebar-tooltip.account-manager, .account-manager-widget {
  .md-content {
    min-height: 105px;
  }
  .md-content:before {
    top: 50px;
  }
  p.title {
    margin: 5px 10px 7px;
    font-size: 12px;
  }
  img {
    width: 44px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
  p.name {
    font-size: 14px;
    margin: 2px 10px 0;
    font-weight: bold;
  }
}

.account-manager-widget {
  margin-top: 15px;
  padding: 15px 25px 15px 22px;
  border-top: 1px solid $grey;
  .account-box{
    margin-bottom: 15px;
  }
  button {
    border: 1px solid $button_border;
    width: 100%;
    margin: 0;
    background: $button_bg;
  }
}
