$base: 8px;
$color-primary: rgb(55, 65, 70);
$color-secondary: #1853AE;
$color-billy: #1853AE;
$color-warning: #FCB811;
$color-danger: #E74C3C;
$color-success: #4CAF50;

$color-background: #eaeff5;

$media-xs: '(max-width: 599px)';
$media-sm: '(min-width: 600px)';
$media-md: '(min-width: 960px)';
$media-lg: '(min-width: 1280px)';

$media-xs-h: '(max-width: 599px)';
$media-sm-h: '(min-width: 600px)';
$media-md-h: '(min-width: 960px)';
$media-lg-h: '(min-width: 1280px)';

$max-sm: '(max-width: 600px)';
$max-md: '(max-width: 960px)';
$max-lg: '(max-width: 1280px)';

$max-sm-h: '(max-height: 600px)';
$max-md-h: '(max-height: 960px)';
$max-lg-h: '(max-height: 1280px)';

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
