<div ng-switch="vm.editState"
  class="vertical-align">
  <div ng-switch-when="0"
    layout="row"
    class="display-mode">
    <span flex="100"
      ng-click="vm.onClick()"
      ng-dblclick="vm.onEdit()">{{vm.value}}</span>
    <div flex>
      <md-button ng-click="vm.onEdit()">
        <md-icon>edit</md-icon>
      </md-button>
    </div>
  </div>
  <div ng-switch-when="1"
    layout="row"
    class="edit-mode">
    <input ng-model="vm.value"
      flex="100"
      autofocus
      ng-keypress="vm.onKeypress($event)">
    <div flex
      layout="row">
      <md-button ng-click="vm.onSubmit()">
        <md-icon>check</md-icon>
      </md-button>
      <md-button ng-click="vm.onCancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>
  <md-progress-circular md-mode="indeterminate"
    md-diameter="32"
    ng-switch-when="2"></md-progress-circular>
</div>
