<label class="input-label"
  ng-if="::!field.hideLabel">
  {{::field.label && (field.label | translate)}}</label>

<md-radio-group ng-model="__MODEL__"
  ng-required="{{::field.required}}"
  ng-disabled="field.disabled"
  class="{{::field.class}}">
  <md-radio-button ng-repeat="option in field.options track by $index"
    class="{{::option.class}}"
    ng-disabled="option.disabled || field.disabled"
    value="{{::option.value}}">{{::option.label | translate}}
  </md-radio-button>
</md-radio-group>
