<label class="input-label"
  ng-if="::!field.hideLabel">
  {{::field.label && (field.label | translate)}}</label>

<md-select placeholder="{{::field.placeholder && (field.placeholder | translate)}}"
  ng-required="{{::field.required}}"
  ng-model="vm.vmodel[field.name]"
  ng-disabled="field.disabled"
  md-on-close="field.onClose(vm.vmodel[field.name], dynamicForm)"
  class="{{::field.class}}"
  aria-label="{{::option.label || option.name}}">
  <md-option ng-value="option[field.slug || 'value']"
    ng-if="field.translate"
    ng-disabled="option.disabled"
    ng-repeat="option in field.options">{{ :: option[field.value || 'label'] | translate}}
  </md-option>
  <md-option ng-value="option[field.slug || 'value']"
    ng-if="!field.translate"
    ng-disabled="option.disabled"
    ng-repeat="option in field.options">{{ :: option[field.value || 'label'] }}
  </md-option>
</md-select>
