@import "../../shared/variables";

seriedb-search {

  .load-more {
    padding: 16px 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading {
    md-progress-circular {
      align: center;
      margin: 24px auto;
      path {
        stroke: rgba(white, .8) !important;
      }
    }
  }

  .md-button {

    background: $color-secondary;
    @include transition(all .2s);
    &:hover {
      background: darken($color-secondary, 10) !important;
    }

    span{
      color: white;
      padding-right:16px;
      padding-left:16px;
    }
  }
}