@import "../../../shared/variables";

.item-active {
  font-weight: 700;
}

.md-autocomplete-suggestions li {
  text-align: start;
}

md-chips .md-chip.md-focused {
  background-color: #EEEEEE !important;
  color: inherit !important;
}

#filters-component {

  span {
    &.filter-label {
      margin-top: $base*2;
      margin-bottom: $base/2;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      text-align: left;
      color: $color-primary;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.87) !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.87) !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.87) !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.87) !important;
  }

  md-card {
    border: none;
    margin: 0;
    background: transparent;
    box-shadow: none;
    md-card-content {
      overflow: auto;
      padding: 24px !important;
      @media(max-width: 959px) {
        padding-top: 48px !important;
      }
    }
  }

  .transparent-card {
    margin-top: 0;
    padding-top: 16px;
  }
  input {
    font-size: 15px !important;
  }
  md-input-container {
    padding: 0;
    width: 100%;
    input {
      margin-top: 1px;
      &.search {
        background-color: #FFFFFF !important;
        max-height: 30px;
        border-bottom: none !important; //override
        border-radius: 15px;
        font-size: 14px;
        background: url("http://cdn.billy.mobi/assets/panel/icon_search.png") no-repeat scroll 97% center;
        margin-bottom: 0;
        padding: 0 $base * 2 !important;
        @media (max-width: 959px) {
          background-position: 98% 6px;
        }
      }
    }
  }

  .filters-box {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  .bm-graph-headline {
    margin-bottom: 0;
  }

  *::-webkit-input-placeholder {
    color: #9EB1C6 !important;
  }

  *:-moz-placeholder {
    /* FF 4-18 */
    color: #9EB1C6 !important;
  }

  *::-moz-placeholder {
    /* FF 19+ */
    color: #9EB1C6 !important;
  }

  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #9EB1C6 !important;
  }

  .md-text .placeholder {
    color: #9EB1C6 !important;
  }

  .filter-wrapper {
    font-size: 15px !important;
    text-align: left;
    &.columns {
      @media (min-width: 599px) {
        &:nth-child(2n-1) {
          padding-right: 2%;
        }
        &:nth-child(2n) {
          padding-left: 2%;
        }
      }
    }
    .select-type {
      margin-top: 0 !important;
    }

    md-chips-wrap {
      padding: 0;
      md-chip {
        margin-top: 0;
      }
    }
    .md-chips .md-chip-input-container {
      margin: 0;
      width: 100%;
      md-autocomplete {
        background-color: #FFFFFF;
        margin: 0;
      }
    }
    md-input-container {
      md-select {
        height: 32px;
        width: 100%;
      }
    }
    .md-select-value, .md-input {
      border-bottom-color: rgba($color-primary, .15);
      padding-left: $base;
      //margin-bottom: $base*3;
    }
    .md-select-value {
      background: #FFFFFF;
      :first-child {
        transform: translate3d(0, 0, 0);
      }
      .md-select-icon {
        &:after {
          top: 0;
          color: #374146;
        }
      }
    }
    .md-chips {
      padding: 0 0 1px;
      box-shadow: none;
      &.md-focused {
        //box-shadow: 0 2px #94A9C1;

      }
      .md-chip {
        border-radius: 3px;
        background: #f2f6f9;
        border: 1px solid #d0dbe9;;
        box-shadow: 0 1px #eaebed;
        font-size: 14px;
        padding-right: 30px;
        margin-bottom: $base/2;
        .md-chip-remove-container button {
          border-left: 1px solid #d0dbe9;
          height: 30px;
          width: 25px;
          md-icon {
            height: 14px;
            width: 24px;
            svg {
              fill: #aebaca;
            }
          }
        }
        .md-chip-content {
          line-height: 30px;
          padding-right: 5px;
        }
        md-chip-template em {
          font-style: normal;
        }
      }
    }
  }

  .checkbox-wrapper {
    .filter-label {
      margin-bottom: $base/2;
    }
    md-checkbox, md-radio-button {
      display: inline;
      margin-bottom: $base*2;
      margin-top: $base*2;
      margin-right: $base;
      .md-label {
        margin-left: 0;
        border: 1px solid rgba($color-primary, .2);
        border-radius: 2px;
        min-width: 44px;
        height: 24px;
        padding: 0 $base/2;
        text-align: center;
        line-height: 22px;
      }
      &.md-checked {
        .md-label {
          background: #374146;
          color: #EBF0F5;
        }
      }
      .md-icon {
        display: none;
      }
      .md-container {
        display: none;
        &:before {
          content: none;
        }
        &:after {
          content: none;
        }
      }
    }
  }
}

.top-filter {
  background: white;
  border-bottom: 1px solid #DDE1E5;
  box-sizing: border-box;
  z-index: 99999;
  .filter-row {
    padding: 0;
    margin: 0 16px;
    height: 56px;
  }
  .filter-title {
    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      font-family: Roboto;
      @media #{$max-sm} {
        font-size: $base * 2;
        text-align: left;
        width: 100%;
      }
      small {
        color: #A3A8AA;
        font-size: 12px;
        font-style: italic;
      }
      md-icon {
        color: #373f44;
      }
    }
    button {
      display: none;
      &:hover, &.active {
        border: 1px solid #e9e9ea !important;
        background: #f9f9f9 !important;
        box-shadow: none !important;
      }
      @media (max-width: 599px) {
        display: inline-block;
        margin: 0;
        padding-left: 6px;
        box-shadow: none !important;
        background: white !important;
        min-width: inherit;
        border: 1px solid transparent;
        margin-top: -8px;
      }
    }
  }
  .filter-options {
    height: 100%;
    @media (max-width: 599px) {
      display: none;
    }
  }
  .filter-extra-buttons {
    height: 100%;
    .filter-button {
      min-height: 32px;
      box-shadow: none !important;
      height: 32px;
      line-height: 30px;
      text-transform: uppercase;
      color: #384045;
      font-size: 12px;
      font-weight: 500;
      padding: 0 12px;
      margin: 0;
      border: 1px solid transparent;
      background: #ffffff !important;
      &.active, &:hover {
        border: 1px solid #e9e9ea !important;
        background: #f9f9f9 !important;
        box-shadow: none !important;
      }
      md-icon {
        color: #373f44;
        font-size: 20px;
        line-height: 22px;
      }
      @media (max-width: 599px) {
        margin: 0;
        width: 50%;
        margin-right: 10px;
      }
      &.open-filters {
        margin: 8px 0;
        @media (min-width: 956px) {
          display: none;
        }
      }
      &.sort-button {
        margin-right: 10px;
      }
      .sort-selector {
        padding: 0;
        .md-button {
          border: 1px solid transparent;
          min-width: inherit;
          padding: 0 12px;
          height: 30px;
          min-height: 32px;
          margin: 0;
          font-weight: 500;
          font-size: 12px;
          color: #485157;
          line-height: 32px;
          text-transform: uppercase;
        }
        .sort-by {
          color: #384045;
        }
      }
    }
  }
}

.filter-advanced {
  max-width: 240px;
  box-shadow: inset 0 1px #dddedf;
  background-color: #FAFAFA;
  overflow: auto;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-right: 1px solid #DDE1E5;

  @media (max-width: 959px) {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &.hide-filters {
      display: none;
    }
  }
  .btn-close {
    @media (min-width: 960px) {
      display: none !important;
    }
    z-index: 10000;
    box-shadow: none !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    min-width: 24px;
    min-height: 24px;
    margin: 0 !important;
    border-radius: 50%;

    position: absolute;
    top: 12px;
    right: 12px;
    md-icon {
      font-size: 24px;
      display: block;
      width: 24px !important;
      height: 24px !important;
    }
  }

  .global-filters {
    @media (max-width: 599px) {
      flex-direction: column-reverse;
    }
  }

  md-switch {
    margin: 0;
    &:not(.md-checked) .md-thumb:before {
      background-color: rgb(232, 232, 232);
    }
    span {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  > div {
    width: 100%;
  }
  .separator {
    box-shadow: inset 0 1px #efeff0;
  }

  .sort-by-label {
    text-transform: uppercase;
  }

  .sort-by {
    font-size: 11px;
    color: #8a8a8a;
  }

  md-menu {
    padding: 0;
    button {
      min-height: 32px !important;
      box-shadow: none !important;
      height: 32px !important;
      line-height: 30px;
      color: #373f44;
      font-size: 12px;
      font-weight: 500;
      padding: 0 12px !important;
      margin: 0 10px;
      border: 1px solid transparent !important;
      background: #ffffff !important;
      &.active, &:hover {
        border: 1px solid #e9e9ea !important;
        background: #f9f9f9 !important;
        box-shadow: none !important;
      }
      @media (max-width: 599px) {
        margin: 0;
      }
      md-icon {
        color: #373f44;
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
}

.button-block {
  text-align: left;
  margin-top: 32px;
  button {
    padding: 0 15px;
    &.md-button {
      margin: 0;
      min-height: 24px !important;
      font-size: 12px;
      min-width: 78px;
    }
    &.btn-default {
      box-shadow: none !important;
    }
    &.btn-success {
      color: white;
    }
    &.btn-clear {
      color: rgba(55, 64, 69, 0.20);
      background: #FAFAFA !important;
      border: 1px solid rgba(56, 64, 69, 0.20);
      border-radius: 4px;
    }
  }
}
