@import "../../../shared/variables";

compare-box {
  padding: $base;
  position: relative;
  text-align: left;

  &.primary-box {
    .box-content {
      color: $color-success !important;
    }
  }

  .box-wrapper {
    padding: $base;
    background-color: white;
    border-radius: $base / 4;

    &.is-content-loaded {
      .box-title {
        font-size: $base* 1.25;
        color: $color-primary;
        line-height: 16px;
        text-transform: uppercase;
        background-color: transparent;
        width:100%;
      }

      .box-content {
        font-size: $base * 3.5;
        color: $color-secondary;
        line-height: $base * 4;
        font-weight: bold;
        background-color: transparent;
        border-radius: $base*2;

        span {
          opacity: 1;
          visibility: visible;
          @include transition(opacity .2s ease);
        }
      }
    }

    &.is-subcontent-loaded {
      .box-sub-content {
        font-size: $base * 2;
        line-height: 20px;
        position: absolute;
        background-color: transparent;
        bottom: $base*1.5;
        right: $base*2;
        font-weight: bold;
        span {
          opacity: 1;
          visibility: visible;
          @include transition(opacity .2s ease);
        }

        &.positive {
          color: $color-success;
          :before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 9px 6px;
            border-color: transparent transparent $color-success transparent;
            content: '';
            display: inline-block;
            margin-right: $base;
          }
          :after {
            content: '%';
          }
        }

        &.negative {
          color: $color-danger;
          :before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 6px 0 6px;
            border-color: $color-danger transparent transparent transparent;
            content: '';
            display: inline-block;
            margin-right: $base;
          }
          :after {
            content: '%';
          }
        }
      }
    }
  }

  //LOADING
  .box-title {
    height: $base * 1.25;
    margin-bottom: $base;
    width: 40%;
    background-color: rgba($color-primary, 0.05);
    border-radius: $base*2;
  }

  .box-content {
    height: $base * 3.5;
    width: 80%;
    font-weight: bold;
    background-color: rgba($color-primary, 0.05);
    border-radius: $base*2;

    span {
      opacity: 0;
      visibility: hidden;
      @include transition(opacity .2s ease);
    }
  }

  .box-sub-content {
    min-height: $base * 2;
    min-width: $base * 3;
    background-color: rgba($color-primary, 0.05);
    position: absolute;
    border-radius: $base*2;
    bottom: $base * 2;
    right: $base * 2;
    span {
      opacity: 0;
      visibility: hidden;
      @include transition(opacity .2s ease);
    }
  }
  //LOADING END

}


