@import "../../../shared/variables";

sidebar {
  min-width: 60px;
  width: 60px;
  height: 100%;
  background: $color-sidebar;
  box-shadow: 2px 0 10px rgba($color-primary, .5);
  z-index: 9;
  md-list {
    padding: 0;
  }
  md-icon {
    color: white;
    opacity: .7;
    margin: 0 auto !important;
  }
  md-list-item {
    &.active, &:hover {
      md-icon {
        opacity: 1 !important;
      }
    }
    .md-button {
      padding: 0 !important;
    }
    .md-list-item-inner, a, .md-button {
      min-width: 60px !important;
      width: 60px !important;
    }
  }
  .favorite-menu {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    &:hover {
      .favorite {
        color: $color-danger;
      }
    }
    .favorite {
      color: white;
      margin-left: 2px !important;
      @include transition(all .2s);
    }
  }
}

.favorite-tooltip {
  background: white !important;
  opacity: 1 !important;
  border-radius: 3px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 500;
  .favorite {
    color: $color-danger;
  }
}