<div id="login-popup"
  class="billy-popup"
  ng-show="vm.openPopup"
  ng-class="{'open': vm.openPopup}"
  layout="row"
  layout-align="center center">
  <div class="popup-layer"
    ng-click="vm.openPopup = false"></div>
  <div class="login-popup-box">
    <div class="popup-box-body"
      layout="column"
      layout-align="center center">
      <div class="close-button">
        <md-icon ng-click="vm.openPopup = false">close</md-icon>
      </div>
      <auth-component view="{{vm.view}}"
        ng-if="vm.openPopup"
        class="animation form-only"
        ng-class="{'no-select': vm.origin}"></auth-component>
    </div>
  </div>
</div>
