@import "../../../shared/variables";

#login-popup {
  z-index: 99999;
  @media #{$max-sm-h}{
    overflow: auto;
  }
  .login-popup-box {
    @media #{$max-sm-h}{
      margin: 30px 0;
    }
    .popup-box-body {
      position: relative;
      .close-button {
        position: absolute;
        width: $base * 5;
        height: $base * 5;
        top: 0;
        right: 0;
        cursor: pointer;
        background: white;
        z-index: 9999;
        border-radius: 100%;
        box-shadow: 0 2px 10px rgba(black, .2);
        margin: -20px;
        .material-icons {
          outline: none;
          padding: 8px;
          text-align: center;
        }
      }
      .login-wrapper {
        width: 100%;
        height: auto;
        z-index: 1;
        .login-footer {
          padding: 14px 0 3px;
          font-size: 14px;
          text-align: center;
          .forgot-password {
            color: #000;
          }
        }

      }
    }
  }
}

