@import "../../../shared/variables";

$sidebar-color: #32323a;

sidebar {
  min-width: 60px;
  width: 60px;
  height: 100%;
  background: $sidebar-color;
  md-list {
    padding: 0;
  }
  md-icon {
    color: white;
    opacity: .7;
    margin: 0 auto !important;
  }
  md-list-item {
    &.active, &:hover {
      md-icon {
        opacity: 1 !important;
      }
    }
    .md-button {
      padding: 0 !important;
    }
    .md-list-item-inner, a, .md-button {
      min-width: 60px !important;
      width: 60px !important;
    }
  }
}